<!-- Single Footer Content -->
<div class="single-footer-content">
    <img src="{{ asset('img/core-img/map.png') }}" alt="">
    <a href="#">Kiyv, Gogolevskaya 27</a>
</div>
<!-- Single Footer Content -->
<div class="single-footer-content">
    <img src="{{ asset('img/core-img/smartphone.png') }}" alt="">
    <a href="#">+38 (066) 083 07 02</a>
</div>
<!-- Single Footer Content -->
<div class="single-footer-content">
    <img src="{{ asset('img/core-img/envelope-2.png') }}" alt="">
    <a href="#">kravets.photographer@gmail.com</a>
</div>