<!-- Follow Me Instagram Area Start -->
<section class="follow-me-instagram-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-11 ml-auto">
                <div class="follow-me-title">
                    <h5>Follow me @ Instagram</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Feeds Area -->
    <div class="instagram-feeds-area owl-carousel">
        {% for photo in photos %}
            <div class="single-instagram-feeds">
                <img src="{{ storage.getPhotoUrl(photo.id) }}" alt="">
                <a href="{{ photo.getInstagramUrl() }}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        {% endfor %}
    </div>
</section>
<!-- Follow Me Instagram Area End -->
