<!-- Follow Me Instagram Area Start -->
<section class="follow-me-instagram-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-11 ml-auto">
                <div class="follow-me-title">
                    <h5>Follow me @ Instagram</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Instagram Feeds Area -->
    <div class="instagram-feeds-area owl-carousel">
        <div class="single-instagram-feeds">
            <img src="img/bg-img/i1.jpg" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/bg-img/i2.jpg" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/bg-img/i3.jpg" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/bg-img/i4.jpg" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/bg-img/i5.jpg" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/bg-img/i6.jpg" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="single-instagram-feeds">
            <img src="img/bg-img/i7.jpg" alt="">
            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
<!-- Follow Me Instagram Area End -->
