<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                    {% include 'common/contact_info_row.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->